/***************** body start **********************/
html { 
    margin:0; 
    padding:0;
    height:100%; 
}
body {
    background: #1C1C1C;
    font-family: verdana, Arial, Times New Roman;
    font-size: 11px;
    margin : 0px auto ;
    color : #7E7F7F;
    line-height: 20px;
    padding: 0;
    height: 100%;
}


#wrapper {
    height: auto !important;
    margin: 0 0 -330px;
    min-height: 100%;
    position: relative;
}
/***************** body end **********************/

/***************** common start **********************/
a:link {
    color: peru;
    text-decoration: none;
}
/***************** common end **********************/

/***************** hearder start **********************/
#header {
    width: 940px;
    margin: auto;
    min-height: 140px;
}
.menu_container {
    width: 65%;
    float: left;
    margin: 30px 0 30px 25%;
    min-height: 75px;
}
.menu {
    bottom: 0;
    right: 0;
    list-style: none outside none;
}
.selected {
    border-bottom: 4px solid #0082E0;
    color: #0082E0;
    float: left;
    font-weight: bold;
    margin: 0 25px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: default;
}
.sibling {
    color: #0082E0;
    cursor: pointer;
    float: left;
    font-weight: bold;
    margin: 0 25px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 14px;
}
.menu a {
    color:#6F7071;
    text-decoration:none;
}
/***************** hearder end **********************/

/***************** bread crumb start **********************/
#bread_crumb { 
    background: #1C1C1C;
    padding: 10px 0px;
    border-top: 2px solid #0082E0;
}
.bread_crumb_holder {
    width: 940px;
    margin: auto;
    overflow: hidden;
}
.bread_crumbs_container {
    float: left;
    width: 60%;
    padding-left: 15px;
}
.breadcrumbs {
    float: left;
    font-size: 10px;
}
.breadcrumbs a{
    color: #6F7071;
}
.breadcrumbs a:hover{
    text-decoration: underline;
}
.foot_print {
    float: left;
    margin-left: 6px;
}
.search_holder {
    width: 35%;
    float: right;
}
.search_box {
    background-color: #1C1C1C;
    border: 1px solid #54A3B4;
    color: #7E7F7F;
    font-family: verdana,Arial,Times New Roman;
    font-size: 11px;
    padding: 4px;
    width: 220px;
}
.submitbutton {
    background-color: #54A3B4;
    border: 1px solid #54A3B4;
    color: #1C1C1C;
    cursor: pointer;
    font-family: verdana,Arial,Times New Roman;
    font-size: 11px;
    font-weight: bold;
    padding: 4px;
}
/***************** bread crumb end **********************/

/***************** container start **********************/
#container {
    width: 940px;
    overflow: hidden;
    margin: 25px auto 60px;
    padding-bottom: 100px;
}
.let_me_read_container {
    overflow: hidden;
    padding-right: 38px;
}
.let_me_read {
    background-color: #54A3B4;
    color: #1C1C1C;
    cursor: pointer;
    float: right;
    font-weight: bold;
    text-align: center;
    width: 11%;
}
.show_options {
    background-color: #54A3B4;
    color: #1C1C1C;
    cursor: pointer;
    float: right;
    font-weight: bold;
    text-align: center;
    width: 11%;
}
/***************** container end **********************/

/***************** home container start **********************/
.os_stack {
    background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #CCCCCC;
    float: left;
    margin: 10px 45px;
    min-height: 300px;
    width: 40%;
    cursor: pointer;
}
/***************** home container end **********************/

/***************** blog start **********************/
.blog_entry {
    float: left ;
    width: 60%;
    margin: 0 15px;
}
.blog_entry_tools {
    float: left ;
    width: 30%;
    padding: 0 12px;
    margin: 0 15px;
}
.widget_title {
    border-bottom: 1px solid #7E7F7F;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 8px;
}
.widget {
    margin: 10px 0 30px;
}
.widget_list {
    list-style: none outside none;
}
.widget_list a {
    color:#6F7071;
    text-decoration:none;
}
.widget_list a:hover { 
    text-decoration: underline;
}
.tag_cloud_container {
    padding: 10px 0 0 40px;
}
.calendar {
    padding-left: 40px;
    text-align: center;
    width: 100%;
}
.entry {
    background: none repeat scroll 0 0 #1C1C1C;
    border: 1px solid #54A3B4;
    font-weight: bold;
}

/***************** blog end **********************/

/***************** blog entry list start **********************/
.content_title {
}
.content_title h1 {
    border: 1px solid peru;
    margin-bottom: 25px;
    padding: 15px 5px;
    text-align: center;
}
.content_title p {
    font-size: 9px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}
.hentry{
    float: left;
    margin-bottom: 40px;
}
.entry-title{
    border-bottom: 1px dotted #999999;
    font-family: times new roman;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    padding: 4px 0;
}
.entry-title a{
    color: #6F7071;
}
.entry-info {
    font-size: 9px;
}
.entry-info a{
    color: peru;
}
.entry-info a:hover{
    text-decoration: underline;
}
.publised_holder {
    float: left;
    width: 20%;
    padding-top: 15px;
}
.publised_date {
    background: none repeat scroll 0 0 #54A3B4;
    color: #1C1C1C;
    float: left;
    font-size: 11px;
    height: 44px;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    padding: 18px 16px;
    text-align: center;
    width: 50px;
    font-weight: bold;
}
.entry-content {
    text-align: justify;
    width: 100%;
}
.tag_category_holder {
    float: left;
    width: 99%;
}
.entry-tags {
    border-top: 1px dotted #999999;
    border-bottom: 1px dotted #999999;
    float: left;
    font-size: 10px;
    padding-left: 10px;
    width: 100%;
    margin: 2px 0;
}
.entry-tags a{
    color: #6F7071;
}
.entry-tags a:hover{
    text-decoration: underline;
}
.entry-categories {
    border-top: 1px dotted #999999;
    border-bottom: 1px dotted #999999;
    float: left;
    font-size: 10px;
    padding-left: 10px;
    width: 100%;
    margin: 2px 0;
}
.entry-categories a{
    color: #6F7071;
}
.entry-categories a:hover{
    text-decoration: underline;
}
.entry-image {
    text-align: center;
    float: right;
}
.entry-body {
    float: left;
}
.continue-reading {
    background: none repeat scroll 0 0 #54A3B4;
    border: 1px solid #54A3B4;
    float: right;
    margin: 10px 0;
    padding: 4px 10px;
    cursor: pointer;
    color: #1C1C1C;
    font-weight: bold;
    font-size: 9px;
}
.continue-reading a{
    color: #6F7071;
}
/***************** blog entry list end **********************/

/***************** blog entry detail start **********************/
.entry-widgets {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.comment {
    border: 2px solid #7E7F7F;
    margin: 8px;
    padding: 8px;
    width: 95%;
}
.comment_image {
    border: 1px solid #54A3B4;
    padding: 2px;
    width: 60px;
    float: left;
    margin: 0 8px 8px 0;
}
.comment_content {
    padding: 2px 8px;
    width: 98%;
}
.comment-info {
    font-size: 9px;
    width: 100%;
}
.fn {
    color: peru;
}
.comments {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.comment_form {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.comment_row {
    float: left;
    margin: 8px;
    padding: 4px;
    width: 95%;
}
.comment_row label{
    float: left;
    width: 100%;
    font-weight: bold;
}
.comment_row input{
    background-color: #1C1C1C;
    border: 1px solid #54A3B4;
    color: #7E7F7F;
    font-family: verdana,Arial,Times New Roman;
    font-size: 11px;
    padding: 4px;
    width: 75%;
}
.comment_row textarea{
    background-color: #1C1C1C;
    border: 1px solid #54A3B4;
    color: #7E7F7F;
    font-family: verdana,Arial,Times New Roman;
    font-size: 11px;
    padding: 4px;
    width: 95%;
}
.comment_submit {
    float: left;
    margin: 4px 8px;
    padding: 4px;
    width: auto;
}
.field_set {
    border-color: #7E7F7F;
    border-style: solid;
}
.error {
    float: left;
    margin: 8px;
    padding: 4px;
    width: 95%;
}
.error label{
    float: left;
    width: 100%;
    font-weight: bold;
}
.error input{
    background-color: #1C1C1C;
    border: 1px solid #54A3B4;
    color: #7E7F7F;
    font-family: verdana,Arial,Times New Roman;
    font-size: 11px;
    padding: 4px;
    width: 75%;
}
.error textarea{
    background-color: #1C1C1C;
    border: 1px solid #54A3B4;
    color: #7E7F7F;
    font-family: verdana,Arial,Times New Roman;
    font-size: 11px;
    padding: 4px;
    width: 95%;
}
.errorlist {
    color: #BE2727;
    float: right;
    list-style: none outside none;
    margin: 0;
    width: 100%;
}
/***************** blog entry detail end **********************/

/***************** pagination start **********************/
.paginator {
    float: right;
    width: auto;
}
.page {
    border: 2px solid #54A3B4;
    float: left;
    margin: 8px;
    padding: 0 8px;
    text-align: center;
}
.page_current {
    background: none repeat scroll 0 0 #54A3B4;
    border: 2px solid #54A3B4;
    color: #1C1C1C;
}
.page a{
    color: #7E7F7F;
}
.page a:hover{
    text-decoration: underline;
}
/***************** pagination end **********************/

/***************** about start **********************/
.about_container {
    padding: 4px 8px;
}
.basic_container {
    overflow: hidden;
    margin: 10px 4px;
}
.image_holder {
    float: left;
    margin: 4px;
    width: 40%;
}
.basic_info_holder {
    float: right;
    margin: 4px;
    width: 55%;
}
.info_row {
    margin: 8px 0;
    padding-left: 50px;
}
.info_row a:hover{
    text-decoration: underline;
}
.info_row a:visited{
    color: peru;
}
.info_row_title {
    background-color: #54A3B4;
    color: #1C1C1C;
    font-weight: bold;
    margin: 8px 0;
    padding: 2px 8px;
}

/***************** about end **********************/

/***************** contact us start **********************/
.contactus_form {
    width: 60%;
    margin-left: 80px;
}
/***************** contact us end **********************/
/***************** footer start **********************/
#footer { 
    background: none repeat scroll 0 0 #1C1C1C;
    border-top: 2px solid #0082E0;
    bottom: 0;
    color: #7E7F7F;
    font-size: 9px;
    height: auto;
    line-height: 15px;
    position: absolute;
    width: 100%;
}
.footer_container {
    width: 940px;
    margin: 15px auto 5px;
    overflow: hidden;
}
.best_viwed {
    text-align: right;
    width: 96%;
    float: left;
    font-style: italic;
}
.copyright {
    width: 50%;
    float: left;
}
.copyright a:hover{
    text-decoration: underline;
}
.copyright a:visited{
    color: peru;
}
/***************** footer end **********************/
