<div style="font-weight: bold; font-size: 20px; margin: 30px;">
   Open Source Stack
</div>
<p style="margin: 20px 20px 20px 50px;">
Open Source is highly <strong>powerful</strong>, from programming languages to web servers and from databases to web framework.
</br>Our current Open Source Stack contains - python, django, flask, tornado, mysql, postgres, mongodb, couchdb, apache, nginx etc.. and many more.
</br>We invite you to build a better web and better web applications with our Open Source Stack.
</p>
