<div style="font-weight: bold; font-size: 20px; margin: 30px;">
   Open Source Contribution
</div>
<p style="margin: 20px 20px 20px 50px;">
We <strong>strongly</strong> believe in Open Source. So yes, even we do contribute to the open source world where every possible for us.
</br>We put our heart into work by contributing to Open Source, as we contribute to Open Source we are up to the standards of Open Source which is good for every one in all directions.
</br>Please check our Open Source Contribution on GitHub.
</p>
