{% load comments i18n %}
{% load url from future %}

<div id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %}">

    {% block entry-header %}
    <div class="entry-header">

        {% block entry-title %}
        <div class="entry-title">
            <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
                {{ object.title }}
            </a>
        </div>
        {% endblock entry-title %}

        {% block entry-info %}
        <div class="entry-info">
            {% with authors=object.authors.all %}
            {% if authors|length %}
            {% trans "Written By :" %}
            {% for author in authors %}
            <span class="vcard author">
                <a href="{{ author.get_absolute_url }}" class="fn url{% if not author.get_full_name %} nickname{% endif %}" rel="author"
                    title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}">{{ author|capfirst }}</a></span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}

            <strong>|</strong>

            {% with comment_count=object.comment_count %}
            {% if comment_count %}
            <a href="{{ object.get_absolute_url }}#comments"
                title="{% blocktrans with object=object.title %}Comments on {{ object }}{% endblocktrans %}">
                {% blocktrans count comment_count=comment_count %}{{ comment_count }} comment{% plural %}{{ comment_count }} comments{% endblocktrans %}
            </a>
            {% else %}
            {% if object.comments_are_open %}
            <a href="{{ object.get_absolute_url }}#comment-form"
                title="{% blocktrans with object=object.title %}Leave a comment on {{ object }}{% endblocktrans %}">
                {% trans "be first to comment!" %}
            </a>
            {% else %}
            {% trans "Comments are closed." %}
            {% endif %}
            {% endif %}
            {% endwith %}

        </div>
        {% endblock entry-info %}

    </div>
    {% endblock entry-header %}

    {% block entry-body %}
    <div class="entry-body">

        <div class="publised_holder" id="" name="">
            <div class="publised_date" id="" name="">
                <div class="published" title="{{ object.creation_date|date:"c" }}">{{ object.creation_date|date:"DATE_FORMAT" }}</div>
            </div>
        </div>

        {% block entry-content %}
        <div class="entry-content">
            {{ object_content }}

            <div class="tag_category_holder" id="" name="">

                {% block entry-tags %}
                <div class="entry-tags">
                    <strong>{% trans "Tags" %}</strong> :
                    {% for tag in object.tags_list %}
                    <a href="{% url 'zinnia_tag_detail' tag %}"
                        title="{% blocktrans %}Show all entries tagged by {{ tag }}{% endblocktrans %}"
                        rel="tag">{{ tag|capfirst }}</a>
                    {% empty %}
                    <span>{% trans "No tags" %}</span>
                    {% endfor %}
                </div>
                {% endblock entry-tags %}

                {% block entry-categories %}
                <div class="entry-categories">
                    <strong>{% trans "Categories" %}</strong> :
                    {% with categories=object.categories.all %}
                    {% if categories|length %}
                    {% for category in categories %}
                    <a href="{{ category.get_absolute_url }}"
                        title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}"
                        rel="tag category">{{ category }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% endwith %}
                </div>
                {% endblock entry-categories %}

                {% block continue-reading %}
                {% if continue_reading %}
                <div class="continue-reading">
                    <a href="{{ object.get_absolute_url }}"
                        title="{% blocktrans with object=object.title %}Continue reading.. {{ object }}{% endblocktrans %}"
                        rel="bookmark">
                        {% trans "Continue reading.." %}
                    </a>
                </div>
                {% endif %}
                {% endblock continue-reading %}

            </div>

            {% block entry-image %}
            {% if object.image %}
            <div class="entry-image">
                {% if continue_reading %}
                <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
                    {% endif %}
                    <img width="150px" src="{{ object.image.url }}" alt="{{ object.title }}" class="left" />
                    {% if continue_reading %}
                </a>
                {% endif %}
            </div>
            {% endif %}
            {% endblock entry-image %}

        </div>
        {% endblock entry-content %}

    </div>
    {% endblock entry-body %}

</div>
