{% extends "base.html" %}
{% load cms_tags %}
{% load capture_as %}
{% load zinnia_tags i18n %}


{% block logo %}
    <!--capture inherited logo from home-->
    {% captureas blog_logo %}
        {% show_placeholder "logo" "home" %}
    {% endcaptureas %}

    <!--check if inherited content exists-->
    {% if blog_logo %}
        {{ blog_logo }}
    {% else %}
        <img src="{{ STATIC_URL }}images/logo.png" />
    {% endif %}
{% endblock logo %}


<!--To display menu-->
<!--# TODO: This need a much more better solution, just an tmp fix for now-->
{% block menu %}
    {% include "zinnia/menu_fixed.html" %}
{% endblock menu %}

<!--To display breadcrumbs-->
{% block bread_crumb %}
        <div class="bread_crumbs_container">
            {% zinnia_breadcrumbs %}
        </div>
        {% include "zinnia/tags/search_form.html" %}
{% endblock bread_crumb %}

<!--To display main content-->
{% block content %}

<div class="blog_entry">
    {% block entry_content %}
    {% endblock entry_content %}
</div>

<div class="blog_entry_tools">
    <div class="widget">
        <div class="widget_title">
            {% trans "Categories" %}
        </div>
        {% get_categories %}
    </div>
    <div class="widget">
        <div class="widget_title">
            {% trans "Tag Cloud" %}
        </div>
        {% get_tag_cloud %}
    </div>
    <div class="widget">
        <div class="widget_title">
            {% trans "Calender" %}
        </div>
        {% get_calendar_entries %}
    </div>
    <div class="widget">
        <div class="widget_title">
            {% trans "Archives" %}
        </div>
        {% get_archives_entries %}
    </div>
</div>

{% endblock content %}
