{% extends "base.html" %}
{% load cms_tags %}
{% load capture_as %}
{% load zinnia_tags i18n %}


<!--To display breadcrumbs-->
{% block bread_crumb %}
        <div class="bread_crumbs_container">
            <strong>{% zinnia_breadcrumbs %}</strong>
        </div>
        {% include "zinnia/tags/search_form.html" %}
{% endblock bread_crumb %}

<!--To display main content-->
{% block content %}

<div class="let_me_read_container" >
    <div class="let_me_read" onClick="letMeRead();">
        Let me read
    </div>
    <div class="show_options" onClick="showOptions();" style="display:none;">
        Show options
    </div>
</div>

<div class="blog_entry">
    {% block entry_content %}
    {% endblock entry_content %}
</div>

<div class="blog_entry_tools">
    <div class="widget">
        <div class="widget_title">
            {% trans "Categories" %}
        </div>
        {% get_categories %}
    </div>
    <div class="widget">
        <div class="widget_title">
            {% trans "Tag Cloud" %}
        </div>
        {% get_tag_cloud %}
    </div>
    <div class="widget">
        <div class="widget_title">
            {% trans "Calender" %}
        </div>
        {% get_calendar_entries %}
    </div>
    <div class="widget">
        <div class="widget_title">
            {% trans "Archives" %}
        </div>
        {% get_archives_entries %}
    </div>
</div>

<script type="text/javascript" >
    function letMeRead() {
        // hide blog_entry_tools div
        document.getElementsByClassName('blog_entry_tools')[0].style.display = 'none';

        // increase width for blog_entry
        document.getElementsByClassName('blog_entry')[0].style.width = "95%";

        // toggle divs
        document.getElementsByClassName('let_me_read')[0].style.display = 'none';
        document.getElementsByClassName('show_options')[0].style.display = 'block';
    }

    function showOptions() {
        // show blog_entry_tools div
        document.getElementsByClassName('blog_entry_tools')[0].style.display = 'block';

        // decrease width for blog_entry
        document.getElementsByClassName('blog_entry')[0].style.width = "60%";

        // toggle divs
        document.getElementsByClassName('let_me_read')[0].style.display = 'block';
        document.getElementsByClassName('show_options')[0].style.display = 'none';
    }
</script>

{% endblock content %}

