{% extends "zinnia/base.html" %}
{% load zinnia_tags i18n %}


<!--Main entry content block-->
{% block entry_content %}

    <!--Html content by zinnia-->
    {% block entry-content %}
        {% include object.content_template with object_content=object.html_content|safe %}
    {% endblock entry-content %}

    <!--For related entries-->
    {% block entry-widgets %}
    <div class="entry-widgets">
        {% with entry_related=object.related_published %}
        {% if entry_related %}
        <div class="entry-related">
            <div class="widget_title"> {% trans "Related articles" %} </div>
            <ul class="widget_list" >
                {% for entry in entry_related %}
                <li>
                <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
    </div>
    {% endblock entry-widgets %}

{% endblock entry_content %}
