{% load comments i18n %}
{% load url from future %}

<form action="{% comment_form_target %}" method="post" id="comment-form">
    {% csrf_token %}
    <fieldset>
        <legend style="color:peru;" ><strong>{% trans "Post your comment" %}</strong></legend>
        <input type="hidden" name="next" value="{% url 'zinnia_comment_success' %}"/>
        {% for field in form %}
        {% if field.is_hidden %}{{ field }}{% else %}
        {% if user.is_authenticated and field.name in "namemailurl" %}{% else %}
        <div {% if field.errors %} class="error"{% endif %}{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %} class=" comment_row" >
            {{ field.label_tag }}
            {% if field.errors %}{{ field.errors }}{% endif %}
            {{ field }}
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
        <p class="auth">
        {% trans "Comment as" %} <strong>{% firstof user.get_full_name user.username %}</strong>. <a href="{% url 'admin:logout' %}">{% trans "Log out" %}</a>.
        </p>
        {% endif %}
        <div class="comment_submit">
        <input type="submit" name="submit" class="submitbutton" value="{% trans "Post" %}" />
        <input type="submit" name="preview" class="submitbutton" value="{% trans "Preview" %}" />
        </div>
    </fieldset>
</form>
