/***************** body start **********************/
body {
    background: #F8F8F8;
    font-family: verdana, Arial, Times New Roman;
    font-size: 11.5px;
    margin : 0px auto ;
    color : #6F7071;
    line-height: 20px;
}

#wrapper {
    border : 1px solid black ;
    height: auto !important;
    margin: 0 0 -330px;
    min-height: 100%;
}
/***************** body end **********************/
