/***************** body start **********************/
body {
    background: #F8F8F8;
    font-family: verdana, Arial, Times New Roman;
    font-size: 11.5px;
    margin : 0px auto ;
    color : #6F7071;
    line-height: 20px;
}

#wrapper {
    height: auto !important;
    margin: 0 0 -330px;
    min-height: 100%;
}
/***************** body end **********************/


/***************** hearder start **********************/
#header {
    width: 940px;
    margin: auto;
    min-height: 140px;
}
.logo {
    width: 30%;
    float: left;
    margin: 30px 15px;
    min-height: 75px;
}
.menu_container {
    width: 65%;
    float: left;
    margin: 30px 0;
    min-height: 75px;
    position: relative;
}
.menu {
    bottom: 0;
    right: 0;
    position: absolute;
    list-style: none outside none;
}
.selected {
    float: left;
    margin: 0 25px;
    padding: 10px 30px;
    cursor:pointer;
    font-weight: bold;
}
.sibling {
    float: left;
    margin: 0 25px;
    padding: 10px 30px;
    cursor:pointer;
}
.menu a {
    color:#6F7071;
    text-decoration:none;
}
.menu li:hover { 
    background-color: #E0E0E0;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
/***************** hearder end **********************/

/***************** bread crumb start **********************/
#bread_crumb { 
    background: #FFFFFF;
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
    padding: 8px 4px;
    min-height: 40px;
}
/***************** bread crumb end **********************/

/***************** container start **********************/
#container {
    width: 940px;
    margin: auto;
    overflow: hidden;
}
/***************** container end **********************/

/***************** home container start **********************/
.os_stack {
    background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #CCCCCC;
    float: left;
    margin: 60px 45px;
    min-height: 300px;
    width: 40%;
    cursor: pointer;
}

/***************** home container end **********************/

/***************** footer start **********************/
#footer { 
    border: 1px solid #EDEDED;
    border-top: 1px solid #999999;
    background: none repeat scroll 0 0 #CBCBCB;
    color: #717171;
    font-size: 10px;
    line-height: 15px;
}
.footer_container {
    margin: 20px 140px;
}
.copyright {
    margin: 10px 20px;
    width: 50%;
}
/***************** footer end **********************/
