{% extends "base.html" %}

{% block content %}
<div class="about_container">

    <div class="basic_container">
        <div class="image_holder">
            <img src="{{ STATIC_URL }}images/pratz.jpg" alt="" width="100%" />
        </div>
        <div class="basic_info_holder">
            <div class="info_row_title">
                <strong>PRATHAMESH NEVAGI Alias PRATZ</strong>
            </div>
            <div class="info_row">
                HOBBYIST PROGRAMMER
            </div>
            <div class="info_row">
                pratz0909@gmail.com
            </div>
            <div class="info_row">
                Programming is a art and I will always try to use it to build a better world. I strongly believe in knowledge sharing as I thing knowledge belongs to human world.
            </div>
        </div>

        <div class="basic_info_holder">
            <div class="info_row_title">
                SOCIAL NETWORK
            </div>
            <div class="info_row">
                <a href="https://github.com/pratz" >GitHub</a>
            </div>
            <div class="info_row">
                <a href="http://www.linkedin.com/pub/prathamesh-nevagi/51/984/479" >LinkedIn</a>
            </div>
            <div class="info_row">
                <a href="https://twitter.com/pratz0909" >Twitter</a>
            </div>
            <div class="info_row">
                <a href="https://www.facebook.com/prathamesh.nevagi" >Facebook</a>
            </div>
            <div class="info_row">
                <a href="https://plus.google.com/114235210470566722711/" >Google +</a>
            </div>
        </div>
    </div>

    <div class="basic_container">
        <div class="basic_info_holder" style="width:100%;">
            <div class="info_row_title">
                INTERESTS
            </div>
            <div class="info_row">
                Every day I come from office and search for new technologies.
            </div>
            <div class="info_row">
                I try to cook each and every thing with vim editor.
            </div>
            <div class="info_row">
                Riding bike for long hours is a stress reliever for me.
            </div>
            <div class="info_row">
                I can listen Indie Rock 24/7.
            </div>
            <div class="info_row">
                On weekends after 9.00pm I watch movies with Scotch Whiskey ( my loyal friend :) ).
            </div>
        </div>
    </div>
</div>
{% endblock content %}
