<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% load cms_tags sekizai_tags %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Welcome to Openring</title>

        <!--render css-->
        {% render_block "css" %}

        <!--link css-->
        <link href="{{ STATIC_URL }}css/openring.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <!--for cms toolbar-->
        {% cms_toolbar %}

        <div id="wrapper">
            <div id="header">
                <div class="logo" id="" name="">
                    <!--block for displaying logo-->
                    {% block logo %}
                    {% endblock %}
                </div>
                <div class="menu_container" id="" name="">
                    <ul class="menu" id="" name="">
                        <!--for cms menu tags-->
                        {% block menu %}
                            {% load menu_tags %}
                            {% show_menu %}
                        {% endblock menu %}
                    </ul>
                </div>
            </div>

            <div id="bread_crumb">
                <div class="bread_crumb_holder" id="" name="">
                    <!--block to display bread crum and search-->
                    {% block bread_crumb %}{% endblock %}
                </div>
            </div>

            <div id="container">
                {% block content %}
                {% endblock %}
            </div>
            <div id="footer">
                <div class="footer_container" id="" name="">
                    <div class="copyright" id="" name="">
                        Powered by Django, Django-CMS and Zinnia </br>
                        © 2012 OpenRing
                    </div>
                    <div class="best_viwed" id="" name="">
                        best viewed in Firefox, Chrome, Opera
                    </div>
                </div>
            </div>

        </div>

        <!--render js-->
        {% render_block "js" %}
    </body>

</html>
