<!--IMPORTANT : Make sure your home template reverse_id is "home" as it helps to inherit all the placeholders to other pages-->

{% extends "base.html" %}
{% load cms_tags %}

{% block logo %}
<!--Logo-->
{% placeholder "logo" %}
{% endblock %}

{% block content %}
    <div class="os_stack">
        {% placeholder "opensource_stack" %}
    </div>

    <div class="os_stack">
        {% placeholder "opensource_contribution" %}
    </div>
{% endblock content %}



<!--snippet for open source stack-->

<!--<div style="font-weight: bold; font-size: 20px; margin: 30px;">-->
<!--    Open Source Stack-->
<!--</div>-->
<!--<p style="margin: 20px 20px 20px 50px;">-->
<!--Open Source is highly <strong>powerful</strong>, from programming languages to web servers and from databases to web framework.-->
<!--</br>Our current Open Source Stack contains - python, django, flask, tornado, mysql, postgres, mongodb, couchdb, apache, nginx etc.. and many more.-->
<!--</br>We invite you to build a better web and better web applications with our Open Source Stack.-->
<!--</p>-->


<!--snippet for open source contribution-->

<!--<div style="font-weight: bold; font-size: 20px; margin: 30px;">-->
<!--    Open Source Contribution-->
<!--</div>-->
<!--<p style="margin: 20px 20px 20px 50px;">-->
<!--We <strong>strongly</strong> believe in Open Source. So yes, even we do contribute to the open source world where every possible for us.-->
<!--</br>We put our heart into work by contributing to Open Source, as we contribute to Open Source we are up to the standards of Open Source which is good for every one in all directions.-->
<!--</br>Please check our Open Source Contribution on GitHub.-->
<!--</p>-->
