<!--IMPORTANT : Make sure your home template reverse_id is "home" as it helps to inherit all the placeholders to other pages-->

{% extends "base.html" %}
{% load cms_tags %}

{% block logo %}
    <!--Logo-->
    {% placeholder "logo" or %}
        <img src="{{ STATIC_URL }}images/logo.png" />
    {% endplaceholder %}
{% endblock %}

{% block content %}
    <!--open source stack-->
    <div class="os_stack">
        {% placeholder "opensource_stack" or %}
            <!--default this template if no placeholder found-->
            {% include "snippet/opensource_stack.html" %}
        {% endplaceholder %}
    </div>

    <!--open source contribution-->
    <div class="os_stack">
        {% placeholder "opensource_contribution" or %}
            <!--default this template if no placeholder found-->
            {% include "snippet/opensource_contribution.html" %}
        {% endplaceholder %}
    </div>
{% endblock content %}
