{% load i18n %}
<div class="paginator">

  {% if page.has_previous %}
  <div class="page previous">
    <a href="?page={{ page.previous_page_number }}{{ GET_string }}"
       title="{% trans "More recent entries" %}">&laquo;</a>
  </div>
  {% endif %}

  {% for page_number in begin %}
  <div class="page {% ifequal page.number page_number %}current{% endifequal %}">
    {% ifequal page.number page_number %}
    <strong>{{ page_number }}</strong>
    {% else %}
    <a href="?page={{ page_number }}{{ GET_string }}"
       title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
    {% endifequal%}
  </div>
  {% endfor %}

  {% if middle %}
  <div class="eldivpsis">&heldivp;</div>
  {% for page_number in middle %}
  <div class="page {% ifequal page.number page_number %}current{% endifequal %}">
    {% ifequal page.number page_number %}
    <strong>{{ page_number }}</strong>
    {% else %}
    <a href="?page={{ page_number }}{{ GET_string }}"
       title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
    {% endifequal%}
  </div>
  {% endfor %}
  {% endif %}

  {% if end %}
  <div class="eldivpsis">&heldivp;</div>
  {% for page_number in end %}
  <div class="page {% ifequal page.number page_number %}current{% endifequal %}">
    {% ifequal page.number page_number %}
    <strong>{{ page_number }}</strong>
    {% else %}
    <a href="?page={{ page_number }}{{ GET_string }}"
       title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
    {% endifequal%}
  </div>
  {% endfor %}
  {% endif %}

  {% if page.has_next %}
  <div class="page next">
    <a href="?page={{ page.next_page_number }}{{ GET_string }}"
       title="{% trans "More old entries" %}">&raquo;</a>
  </div>
  {% endif %}
</div>
