{% load menu_tags %}

{% for child in children %}

    <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
        <li class="{% if child.selected %}selected{% endif %}{% if child.ancestor %}ancestor{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}descendant{% endif %}">
        {{ child.get_menu_title }}
        {% if child.children %}
        <ul>
            {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
        </ul>
        {% endif %}
        </li>
    </a>

{% endfor %}
